{:graphql
 {:objects
  {:OneAdviceResponse
   {:fields
    {:status {:type :Int}
     :body {:type :AdviceBody}}}
   :AdviceBody
   {:fields
    {:slip {:type :AdviceSlip}
     :message {:type :AdviceMessage}}}
   :AdviceMessage
   {:fields
    {:type {:type :String}
     :text {:type :String}}}
   :AdviceSlip
   {:description "Advice Slip"
    :fields
    {:id {:type (non-null :Int)}
     :advice {:type (non-null :String)}}}
   :AdvicesResponse
   {:fields
    {:status {:type :Int}
     :body {:type :AdvicesBody}}}
   :AdvicesBody
   {:fields
    {:total_results {:type :String}
     :query {:type :String}
     :slips {:type (list :AdviceSlipeWithDate)}
     :message {:type :AdviceMessage}}}
   :AdviceSlipeWithDate
   {:fields
    {:id {:type (non-null :Int)}
     :advice {:type (non-null :String)}
     :date {:type (non-null :String)}}}
   :ReposResponseSuccess
   {:fields
    {:status {:type :Int}
     :body {:type (list :Repo)}
     :headers {:type :ReposResponseHeaders}
     :links {:type :Pagination}}}
   :ReposResponseError
   {:fields
    {:status {:type :Int}
     :body {:type :ReposResponseBodyError}
     :headers {:type :ReposResponseHeaders}}}
   :ReposResponseHeaders
   {:fields
    {:date {:type :String}
     :etag {:type :String}}}
   :Pagination
   {:fields
    {:prev {:type :Link}
     :next {:type :Link}}}
   :Link
   {:fields
    {:href {:type :String}}}
   :Repo
   {:fields
    {:id {:type :Int}
     :name {:type :String}
     :url {:type :String}
     :description {:type :String}}}
   :ReposResponseBodyError
   {:fields
    {:message {:type :String}
     :documentation_url {:type :String}}}}

  :unions
  {:ReposResponse
   {:description "Success or Error"
    :members [:ReposResponseSuccess :ReposResponseError]}}

  :input-objects
  {:GetAdviceParams
   {:fields
    {:adviceId {:type (non-null :ID)}}}
   :SearchAdviceParams
   {:fields
    {:query {:type :String}}}
   :UserReposParams
   {:fields
    {:userId {:type (non-null :String)}
     :page {:type :Int}
     :per_page {:type :Int}}}
   :UserReposHeaders
   {:fields
    {:Authorization {:type :String}}}}

  :queries
  {:adviceById
   {:type :OneAdviceResponse
    :description "Get an advice slip by ID"
    :resolve :GetAdviceSlipById
    :args
    {:params {:type :GetAdviceParams}}}
   :randomAdvice
   {:type :OneAdviceResponse
    :description "Get a random advice slip"
    :resolve :GetRandomAdvice}
   :searchAdvice
   {:type :AdvicesResponse
    :description "Search advices by text"
    :resolve :SearchAdvices
    :args
    {:params {:type :SearchAdviceParams}}}
   :getUserRepos
   {:type :ReposResponseSuccess
    :resolve :GitHubRepos
    :args
    {:params {:type :UserReposParams}
     :headers {:type :UserReposHeaders}}}}}

 :config
 {:name "bff-squared",
  :description "Um framework para construção de BFFs"}

 :sources
 {:GetAdviceSlipById
  {:method :get,
   :uri "https://api.adviceslip.com/advice/:adviceId"}
  :GetRandomAdvice
  {:method :get,
   :uri "https://api.adviceslip.com/advice"}
  :SearchAdvices
  {:method :get,
   :uri "https://api.adviceslip.com/advice/search/:query"}
  :GitHubRepos
  {:method :get
   :uri "https://api.github.com/users/:userId/repos"}}}
